/* Universal Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Font1;
}

a {
    color: black;
    text-decoration: none;
}


/* Laptop VIew */


/* Header */

header {
    overflow: hidden;
    border-bottom: 3px dashed black;
    position: sticky;
    top: 0;
    background-color: white;
}

header .main-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
}

header li {
    margin: 0 10px;
}

#pricebox {
    border: 2px solid black;
    padding: 0 5px;
    background: transparent;
}

#pricebox:hover {
    box-shadow: 3px 3px 10px black;
    color: white;
    background-color: black;
}


/* Navigation */

nav {
    background-color: yellow;
    overflow: hidden;
    position: sticky;
    top: 27px;
    font-size: 25px;
}

nav .main-ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    border-bottom: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*.ul-1 {}*/

.ul-2 {
    position: absolute;
    top: 30px;
    right: 100px;
}

nav li {
    height: 90px;
    margin: 0 10px;
}

nav img {
    transform: translate(0, -63px);
}

nav ul a {
    border-right: 5px dashed black;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}


/* main-top-bar */

.main-top-bar {
    background-color: yellow;
    font-size: 45px;
    padding: 50px 0 50px 100px;
    overflow: hidden;
}

.main-top-bar div {
    float: left;
}

.main-top-bar .div2 {
    padding-left: 50px;
}

.main-top-bar h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-top-bar::after {
    clear: both;
    content: "";
    display: table;
}


/* Buzz-Us */

.buzz-us {
    text-align: center;
    padding: 50px 0;
    border-bottom: 5px dashed black;
    border-top: 5px dashed black;
}

.buzz-us h1 {
    text-shadow: -1px 0 black;
    word-spacing: 10px;
}

.buzz-us button {
    margin: 40px 20px;
    padding: 20px;
    border: 5px solid black;
    background-color: transparent;
    font-weight: bold;
}

.buzz-us button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: black;
    color: white;
}

.buzz-us .dropdown1 {
    position: relative;
}

.buzz-us .dropdowncontent1 {
    display: none;
    position: absolute;
    left: 25px;
    top: 40px;
    min-width: 150px;
    box-shadow: 0px 5px 10px black;
    z-index: 1;
}

.buzz-us .dropdown1:hover .dropdowncontent1 {
    display: block;
}

.buzz-us .dropdown2 {
    position: relative;
}

.buzz-us .dropdowncontent2 {
    display: none;
    position: absolute;
    right: 23px;
    top: 40px;
    min-width: 150px;
    box-shadow: 0px 5px 10px black;
    z-index: 1;
}

.buzz-us .dropdown2:hover .dropdowncontent2 {
    display: block;
}

.buzz-us a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.buzz-us a:hover {
    background-color: black;
    color: white;
}


/* Mini-Footer */

.mini-footer {
    background-color: yellow;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}


/* Footer */

footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

footer a {
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

footer a:hover {
    transition: 1s;
    box-shadow: 0 5px 15px white;
}

footer h2 {
    padding: 5px;
    margin-right: 10px;
}


/*
@font-face {
    font-family: Font1;
    src: url(Reggae_One/font1.ttf);
}
*/