body {
    font-family: Audiowide, sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0;
    background-color: #FFFB00;
}

#nav {
    float: right;
    padding: 70px 0;
}

#logo {
    float: left;
    height: 200px;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

#header {
    overflow: hidden;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: black;
}

#nav li a:hover {
    color: lightgrey;
    cursor: pointer;
}

#footer {
    margin: 0;
    background-color: black;
    padding: 40px;
    color: #FFFB00;
    overflow: hidden;
}

.ftext {
    float: left;
}


/*
#header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
}

#colum {
    background-color: yellow;
    float: left;
    width: 33.3%;
    padding: 20px;
    height: 550px;
}

#Main:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
*/