* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Font1;
  color: black;
}

@media (max-width: 900px) {
  nav {
    background-color: #fffb00;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding: 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    list-style-type: none;
  }
  nav .ul-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .ul-2 li {
    margin: 10px;
    text-decoration: underline;
  }
  nav .ul-2 li:hover {
    color: white;
    cursor: pointer;
  }
  .main1 {
    padding: 100px;
    background-color: #fffb00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main1 h1 {
    color: black;
    font-size: 60px;
    margin-bottom: 30px;
  }
  .main1 p {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .main1 button {
    background-color: black;
    color: black;
    padding: 20px;
    font-size: 30px;
    color: white;
    border: none;
  }
  .main1 button:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 5px 5px 5px black;
            box-shadow: 5px 5px 5px black;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  .main1 .div1 img {
    width: 300px;
  }
  .main1 .div2 {
    text-align: center;
  }
  .main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    padding: 100px;
  }
  .main2 h1 {
    margin: 10px auto;
  }
  .main2 p {
    margin: 10px auto;
  }
  .main3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    padding: 10px 100px;
    background-color: #fffb00;
    padding: 100px;
  }
  .main3 h1 {
    margin: 10px auto;
  }
  .main3 p {
    margin: 10px auto;
  }
  .main4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
    text-align: center;
  }
  .main4 div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px;
  }
  .main4 p {
    margin: 10px 0px;
  }
  .main4 iframe {
    padding: 0px 100px;
  }
  .Appointments h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
  }
  .Appointments .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 100px;
  }
  .Appointments iframe {
    padding: 20px;
  }
  .Footer {
    background-color: #fffb00;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 25px;
  }
  .Footer small {
    font-weight: bold;
    margin: 10px auto;
  }
  .Footer div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .Footer div:first-child span {
    text-decoration: underline;
    text-align: center;
    margin: 5px;
  }
  .Footer img {
    margin: 5px;
  }
}

@media (min-width: 900px) {
  nav {
    background-color: #fffb00;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding: 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    list-style-type: none;
  }
  nav .ul-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .ul-2 li {
    margin: 10px;
    text-decoration: underline;
  }
  nav .ul-2 li:hover {
    color: white;
    cursor: pointer;
  }
  .main1 {
    padding: 100px;
    background-color: #fffb00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main1 h1 {
    color: black;
    font-size: 60px;
    margin-bottom: 30px;
  }
  .main1 p {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .main1 button {
    background-color: black;
    color: black;
    padding: 20px;
    font-size: 30px;
    color: white;
    border: none;
  }
  .main1 button:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: 5px 5px 5px black;
            box-shadow: 5px 5px 5px black;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  .main1 img {
    width: 500px;
  }
  .main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    padding: 100px;
  }
  .main2 h1 {
    margin: 10px auto;
  }
  .main2 p {
    margin: 10px auto;
  }
  .main3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
    padding: 10px 100px;
    background-color: #fffb00;
    padding: 100px;
  }
  .main3 h1 {
    margin: 10px auto;
  }
  .main3 p {
    margin: 10px auto;
  }
  .main4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 100px;
  }
  .main4 div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main4 p {
    margin: 10px 0px;
  }
  .Appointments h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px auto;
  }
  .Appointments .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 100px;
  }
  .Footer {
    background-color: #fffb00;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 25px;
  }
  .Footer small {
    font-weight: bold;
    margin: 10px auto;
  }
  .Footer div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .Footer div:first-child span {
    text-decoration: underline;
    text-align: center;
    margin: 5px;
  }
  .Footer img {
    margin: 5px;
  }
}
/*# sourceMappingURL=App.css.map */