* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Font1;
  color: black;
}

@media (max-width: 900px) {
  // Navigation
  nav {
    background-color: #fffb00;
    overflow: hidden;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }

    .ul-2 {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      justify-content: space-between;
      li {
        margin: 10px;
        text-decoration: underline;
      }
      li:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  // Main 1
  .main1 {
    padding: 100px;
    background-color: #fffb00;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    h1 {
      color: black;
      font-size: 60px;
      margin-bottom: 30px;
    }
    p {
      font-size: 30px;
      margin-bottom: 100px;
    }
    button {
      background-color: black;
      color: black;
      padding: 20px;
      font-size: 30px;
      color: white;
      border: none;
      &:hover {
        background-color: white;
        color: black;
        box-shadow: 5px 5px 5px black;
        transition: 1s;
        cursor: pointer;
      }
    }
    .div1 {
      img {
        width: 300px;
      }
    }
    .div2 {
      text-align: center;
    }
  }

  // Main 2

  .main2 {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 100px;
    h1 {
      margin: 10px auto;
    }
    p {
      margin: 10px auto;
    }
  }

  // Main 3

  .main3 {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 10px 100px;
    background-color: #fffb00;
    padding: 100px;

    h1 {
      margin: 10px auto;
    }
    p {
      margin: 10px auto;
    }
  }

  .main4 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    text-align: center;

    div:first-child {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      padding: 10px 0px;
    }

    p {
      margin: 10px 0px;
    }
  }

  .Appointments {
    h1 {
      text-align: center;
      font-size: 50px;
      margin: 10px auto;
    }
    .main {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;
      padding: 20px 100px;
    }
  }

  // Footer
  .Footer {
    background-color: #fffb00;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;

    small {
      font-weight: bold;
      margin: 10px auto;
    }

    div:first-child {
      display: flex;
      flex-flow: column nowrap;
      span {
        text-decoration: underline;
        text-align: center;
        margin: 5px;
      }
    }
    img {
      margin: 5px;
    }
  }
}
@media (min-width: 900px) {
  // Navigation
  nav {
    background-color: #fffb00;
    overflow: hidden;
    position: sticky;
    top: 0px;
    font-size: 25px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
    }

    .ul-2 {
      display: flex;
      justify-content: space-between;
      li {
        margin: 10px;
        text-decoration: underline;
      }
      li:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  // Main 1
  .main1 {
    padding: 100px;
    background-color: #fffb00;
    display: flex;
    justify-content: space-around;

    h1 {
      color: black;
      font-size: 60px;
      margin-bottom: 30px;
    }
    p {
      font-size: 30px;
      margin-bottom: 100px;
    }
    button {
      background-color: black;
      color: black;
      padding: 20px;
      font-size: 30px;
      color: white;
      border: none;
      &:hover {
        background-color: white;
        color: black;
        box-shadow: 5px 5px 5px black;
        transition: 1s;
        cursor: pointer;
      }
    }

    img {
      width: 500px;
    }
  }

  // Main 2

  .main2 {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 100px;
    h1 {
      margin: 10px auto;
    }
    p {
      margin: 10px auto;
    }
  }

  // Main 3

  .main3 {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 10px 100px;
    background-color: #fffb00;
    padding: 100px;

    h1 {
      margin: 10px auto;
    }
    p {
      margin: 10px auto;
    }
  }

  .main4 {
    display: flex;
    justify-content: space-around;
    padding: 100px;

    div:first-child {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    p {
      margin: 10px 0px;
    }
  }

  .Appointments {
    h1 {
      text-align: center;
      font-size: 50px;
      margin: 10px auto;
    }
    .main {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;
      padding: 20px 100px;
    }
  }

  // Footer
  .Footer {
    background-color: #fffb00;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;

    small {
      font-weight: bold;
      margin: 10px auto;
    }

    div:first-child {
      display: flex;
      flex-flow: column nowrap;
      span {
        text-decoration: underline;
        text-align: center;
        margin: 5px;
      }
    }
    img {
      margin: 5px;
    }
  }
}
